body {
  font-family: Arial, sans-serif;
  background-color: #282828;
  text-align: center;
  padding: 50px;
}

.title {
  color: #ffffff;
  font-size: 50px;
  margin: 50px 20px 80px 20px;
}

form {
  margin: 50px 20px;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 2rem;
  font-size: 20pt;
  width: 40%;
}

button {
  background-color: #FF0000;
  color: white;
  padding: 5px 30px;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 20pt;
}

.success {
  color: #ffffff;
  font-size: 30px;
  margin: 50px 20px 80px 20px;
  list-style-type: none;
}
